/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 */

params {
	outdir = "$PWD/" + "outputs-wgs"
	// trimming
	trimmer = "FASTP"
	adapters = ""
	cut_mean_quality = 25
	cut_window_size = 4
	trim_front1 = 0
	trim_front2 = 0
	trim_tail1 = 0
	trim_tail2 = 0
	// assembly
	assembler = "metaspades"
	coassembly = false
	min_contig_len = 2000
	viral = false
	// read mapping / coverage
	min_mapq = 30
	// binning
	binning = "metabat2"
	// annotation
	pfam_db_dir = "$HOME/db/resfam-full"
	amr_detection = false
	gtdbtk_db = "$HOME/db/gtdbtk-2.0.0"
}

process {
	withLabel: "py_script" {
		container = "nakor/bioinfo-py:0.1"
	}
}

includeConfig "conf/base.config"
