/*
 * -----------------------------------------------
 *  University of Hawaii at Manoa HPCC config file
 * -----------------------------------------------
 *
 */

params {
	max_cpus   = 39
	max_memory = 900.GB
	max_time   = 7.d
}

process {
	executor = "slurm"
	queue = "shared,exclusive,kill-shared,kill-exclusive"
	module = "tools/Singularity"
	errorStrategy = { sleep(Math.pow(2, task.attempt) * 200 as long); return 'retry' }
	maxErrors = "-1"

	withLabel: low_computation {
		maxRetries = 20
		cpus = {1 * task.attempt}
		memory = {6.GB * task.attempt}
		time = {1.h * task.attempt}
	}
	withLabel: medium_computation {
		maxRetries = 10
		cpus = {5 * task.attempt}
		memory = {32.GB * task.attempt}
		time = {4.h * task.attempt}
	}
	withLabel: high_computation {
		maxRetries = 1
		cpus = 19
		memory = {120.GB*(task.attempt==1 ? 1 : 0) +
				  500.GB*(task.attempt==2 ? 1 : 0) +
				  1000.GB*(task.attempt==3 ? 1 : 0)}
		time = {6.h*(task.attempt==1 ? 1 : 0) +
				24.h*(task.attempt==2 ? 1 : 0) +
				72.h*(task.attempt==3 ? 1 : 0)}
	}
}
