/*
 * -----------------------------------------------
 *   Test config file
 * -----------------------------------------------
 *
 */


process {
	withLabel: low_computation {
		cpus = 1
		memory = 2.GB
		time = 10.m
	}
	withLabel: medium_computation {
		cpus = 1
		memory = 4.GB
		time = 20.m
	}
	withLabel: high_computation {
		cpus = 2
		memory = 6.GB
		time = 60.m
	}
}
